.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: rgba(255,255,255,0.3);
}

ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 17px 0 0 0;
}

li {
    list-style: none;
    display: inline;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 1.5rem 0 1.5rem;
    color: white;
}

a {
    color: white;
}

@media (min-width: 430pt) {
    .navbar {
        height: 100px;
    }
    ul {
        padding: 17px 0 0 0;
    }
}
